# MongoDB
MONGODB_URI=mongodb+srv://Akshit:Akshit1179@cluster0.vwqnn.mongodb.net/?appName=Cluster0

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_d2VsY29tZS1waWdsZXQtMjguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_Lav4p1B7lmJthEKUjVmjMo5aGeGTUmV3wPMdwVVPks

# Clerk URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dak78zrav
CLOUDINARY_API_KEY=319691397796739
CLOUDINARY_API_SECRET=rOO0z78yRR-EuqRpJ1ATAbM7a3c


GEMINI_API_KEY=AIzaSyAoj8JLUwYLp18rcim1RXHVZcGrbBRH0ak
